/* * Common Codes */
:root {
  --common-padding: 18px 24px;
}

body {
  background-color: #f6f9ff;
  font-family: "Open Sans", sans-serif;
}

/* Header Section Css */
header {
  background-color: white;
  box-shadow: 2px 4px 12px 0px rgba(80, 80, 80, 0.1);
  padding: 10px 20px;
  position: fixed;
  top: 0px;
  z-index: 100;
  /* border: 1px solid black; */
}

header div > a {
  text-decoration: none;
  color: #012970;
  font-size: 26px;
  font-weight: 700;
}

header div a > img {
  height: 30px;
  width: 100%;
}

header .left > .logo {
  width: 260px;
}

.hamburger {
  cursor: pointer;
}

.hamburger > div {
  background-color: black;
  width: 22px;
  height: 2px;
}

.searchBar {
  width: 280px;
}

.searchBar > #searchInput {
  border-radius: 3px;
  outline: none;
  color: rgb(102, 102, 102);
  font-size: 16px;
  font-family: serif;
  border: 1px solid rgba(18, 39, 124, 0.288);
}

.searchBar > #searchInput:focus {
  border-radius: 2px;
  outline: none;
  border: 0.5px solid rgb(170, 170, 170);
  box-shadow: 0px 4px 8px 0px rgba(67, 67, 67, 0.1),
    0px -2px 8px 0px rgba(67, 67, 67, 0.1);
}

.searchBar > #searchInput:hover {
  border-radius: 2px;
  outline: none;
  border: 0.5px solid rgb(170, 170, 170);
  box-shadow: 0px 4px 8px 0px rgba(67, 67, 67, 0.1),
    0px -2px 8px 0px rgba(67, 67, 67, 0.1);
}

.searchIcon {
  top: 5px;
  right: 12px;
}

.notificationNumber1 {
  position: absolute;
  top: -8px;
  right: -11px;
  background-color: rgb(122, 85, 234);
  color: white;
  border-radius: 30%;
  height: 20px;
  font-size: 12px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificationNumber2 {
  position: absolute;
  top: -8px;
  right: -12px;
  background-color: rgb(234, 85, 85);
  color: white;
  border-radius: 30%;
  height: 20px;
  font-size: 12px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification,
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.notificationIcon,
.messageIcon > svg {
  width: 20px;
  width: 100%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* border: 1px solid gray; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(189, 37, 37, 0.249);
  overflow: hidden;
}

.avatar > img {
  width: 100%;
  height: 100%;
}

.dropdown-menu {
  width: 300px !important;
  padding: 0px;
  border: none;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu div {
  /* border: 1px solid black;
   */
  /* border-bottom: 1px solid gray; */
  width: 100%;
  height: 100%;
  padding: 10px 0px 10px 0px;
  margin: 0px;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-menu div span:first-child {
  font-size: 18px;
  font-weight: 500;
  color: #012970;
}

.dropdown-menu div span:last-child {
  font-size: 14px;
  font-weight: 500;
  color: #012970;
}

.dropdown-menu li .dropdown-item {
  padding: 8px 16px;
  border-top: 1px solid rgb(178, 178, 178);
  font-weight: 200;
  font-size: 17px;
  color: rgb(61, 59, 59);
}

.dropdownBtn:focus {
  border: none;
  outline: none;
}

/* * Aside code starts here */
aside {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 100vh;
  background: blue;
  background: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  padding: var(--common-padding);
  padding-top: 80px !important;
  overflow-y: auto;
}

nav ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 4px;
  flex-direction: column;
}

nav ul li {
  list-style: none;
  padding: 10px 22px;
  /* border: 1px solid black; */
  border-radius: 8px;
  font-weight: 500;
}

nav ul li:first-child {
  background-color: #f6f1ff;
}

nav ul li:hover {
  cursor: pointer;
  background-color: #f6f1ff;
  transition: all 0.5s ease;
}

aside nav ul li a {
  text-decoration: none;
  /* color: black; */
  color: #154aad;
  display: flex;
  gap: 8px;
  align-items: center;
}

nav p {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin: 14px;
}

nav ul li a img {
  width: 16px;
  height: 16px;
}

/* * Main section code starts here */
main {
  min-height: 85vh;
  margin-top: 60px;
  margin-left: 320px;
  width: 77.5%;
  height: auto;
  padding: var(--common-padding);
  /* border: 1px solid black; */
}

.breadcrumbHeading {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  gap: 2px;
}

.breadcrumbHeading h3 {
  /* line-height: 20px; */
  margin: 0px;
  color: rgb(37, 37, 113);
}
.breadcrumbHeading div {
  /* line-height: 20px; */
  margin: 0px;
  display: flex;
  gap: 4px;
}

.breadcrumbHeading div p:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
  color: rgb(176, 176, 236);
}
.breadcrumbHeading div p:nth-child(3) {
  font-size: 14px;
  font-weight: 500;
  color: rgb(108, 108, 174);
}

.mainContainerType {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  padding: 20px 0px;
  /* border: 1px solid black; */
  height: auto;
  gap: 24px;
}

.mainContainerType .left {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* background: #000; */
}

.mainContainerType .left .cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.mainContainerType .left .cardContainer .myCard {
  background-color: #fff;
  grid-column: auto;
  box-shadow: 2px 2px 18px 0px rgba(47, 25, 71, 0.1);
  padding: 12px 18px;
  border-radius: 6px;
}

.mainContainerType .left .cardContainer .myCard .cardHeading {
  display: flex;
  justify-content: space-between;
}

.mainContainerType .left .cardContainer .myCard .cardHeading p {
  font-size: 18px;
  font-weight: 600;
  color: #1e1e81;
}

.mainContainerType .left .cardContainer .myCard .cardHeading div {
  cursor: pointer;
  user-select: none;
}

.mainContainerType .left .cardContainer .myCard .cardBody {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  /* border: 1px solid black; */
  align-items: center;
  padding: 12px 0px;
  height: auto;
  margin-bottom: 8px;
}

.mainContainerType .left .cardContainer .myCard .cardBody .icon {
  height: 70px;
  width: 70px;
  background-color: #ff00e61a;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.mainContainerType .left .cardContainer .myCard .cardBody .texts {
  height: auto;
  /* border: 1px solid blue; */
  margin-top: 10px;
}

.mainContainerType .left .cardContainer .myCard .cardBody .texts p:first-child {
  font-size: 28px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #1e1e81;
  line-height: 12px;
}

.mainContainerType .left .cardContainer .myCard .cardBody .texts p:last-child {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #6d5a06;
  line-height: 12px;
}

.mainContainerType .left .chartContainer {
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 18px 0px rgba(47, 25, 71, 0.1);
  padding: 12px 18px;
  border-radius: 6px;
  height: 500px;
}
.mainContainerType .left .salesTable {
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 18px 0px rgba(47, 25, 71, 0.1);
  padding: 12px 18px;
  border-radius: 6px;
  height: 500px;
}
.mainContainerType .left .topSellingTable {
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 18px 0px rgba(47, 25, 71, 0.1);
  padding: 12px 18px;
  border-radius: 6px;
  height: 500px;
}

/* * Right starts here */
.mainContainerType .right {
  grid-column-start: 5;
  grid-column-end: 7;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* background: #0000ff; */
}

.mainContainerType .right .recentActivity {
  width: 100%;
  box-shadow: 2px 2px 18px 0px rgba(47, 25, 71, 0.1);
  padding: 12px 18px;
  border-radius: 6px;
  background-color: #fff;
  height: 450px;
}
.mainContainerType .right .budgetReport {
  width: 100%;
  box-shadow: 2px 2px 18px 0px rgba(47, 25, 71, 0.1);
  padding: 12px 18px;
  border-radius: 6px;
  background-color: #fff;
  height: 450px;
}
.mainContainerType .right .websiteTraffic {
  width: 100%;
  box-shadow: 2px 2px 18px 0px rgba(47, 25, 71, 0.1);
  padding: 12px 18px;
  border-radius: 6px;
  background-color: #fff;
  height: 450px;
}
.mainContainerType .right .news {
  width: 100%;
  box-shadow: 2px 2px 18px 0px rgba(47, 25, 71, 0.1);
  padding: 12px 18px;
  border-radius: 6px;
  background-color: #fff;
  height: 650px;
}

/* * Footer code starts here * */

footer {
  margin-left: 320px;
  width: auto;
  height: auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(191, 152, 213, 0.511);
  text-align: center;
}

footer p {
  font-size: 15px;
  font-weight: 400;
  line-height: 12px;
  color: rgb(82, 82, 159);
  text-transform: capitalize;
}

footer p span {
  font-weight: 600;
  font-size: 16px;
  color: rgb(255, 0, 183);
}
